<% if station_to_match_data.nil? %>
	<div class="condition clearfix">
		<div class="condition-label"><%= heading %>:</div>
		<div class="condition-value"> N/A</div>
	</div>
<% else %>
	<div class="condition clearfix">
		<div class="condition-label"><%= heading %>:</div>
		<div class="condition-value">
			<%= station_to_match_data.type %>
			<%= unit %>
		</div>
	</div>
<% end %>
