<div class="location-menu">
  <div class="location-search">
    <input type="text" 
    class="location-input" 
    id="city-search" 
    placeholder="Search for a city or address" 
    value="<%= input_value %>" />
    <ul class="search-results">
    </ul>
  </div>
</div>
