<div class="container">

  <%= erb :_search_bar %>

	<% if query_station.nil? %>
	  <div></div>
	<% else %>
	  <div class="no-result">
	  	There is not enough data to find matches for <%= query_station.city %>, <%= query_station.country %>
	  </div>
	<% end %>

</div>