<div class="container">

	<div class="intro">
		<h2 id="intro">Ever wonder where else in the world has <strong>your</strong> weather?</h2>

		<div class="location-menu">
			<div class="location-search">
				<input type="text" class="location-input" id="city-search" placeholder="Search for a city or address" />
				<input type="button" class="location-input" id="geo-locate" value="Or let us find you!" />
				<ul class="search-results">
				</ul>
			</div>
		</div>
	</div>
</div>
