<div class="container">
	<div class="intro">
	  <h2 id="intro">Ever wonder where else in the world has <strong>your</strong> weather?</h2>
	  <%= erb :_search_bar %>
	</div>
	<% if query_station.nil? %>
	  <div></div>
	<% else %>
	  <div class="no-result">
	  	There is not enough data to find matches for <%= query_station.city %>, <%= query_station.country %>
	  </div>
	<% end %>

</div>