<!doctype html>
<html>
	<head>
		<link href="/css/global.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<%= yield %>
	</body>
		<!-- <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> -->
		<!--<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script> -->
		<script src="/js/lib/jquery-2.1.4.js"></script>
		<script src="/js/global.js"></script>
    <script>
      function initMap() {

        var centralLatLng = {lat: 30, lng: 10.1340487 };
        var matchMarkers = []
        var iconBase = 'http://maps.google.com/mapfiles/ms/icons/'

        var star = {
          // path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'orange',
          fillOpacity: 1,
          scale: 5,
          strokeColor: 'darkblue',
          strokeWeight: 1.2
        };

        var dot = {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'gold',
          fillOpacity: 1,
          scale: 5,
          strokeColor: 'darkblue',
          strokeWeight: 1.2
        }

        var icons = {
         queryLocation: {
           icon: star
         },
         matchLocation: {
          icon: dot
         }
        };

        var worldMap = new google.maps.Map(document.getElementById('map'), {
          minZoom: 2,
          zoom: 2,
          center: centralLatLng
        });

        var $matches = $('.match');
        var $query = $('.section_header');

        function mapQueryLocation() {
          createMarker($query, 'queryLocation');
        }

        function mapMatches() {
          
          if ($matches.length > 0) {
            $('#map').removeClass('hidden');
            $('.percentage').removeClass('hidden');

            $matches.each(function(index, ea) {
              createMarker(ea, 'matchLocation');
            });
          } else {
            $('#map').addClass('hidden');
            $('.percentage').addClass('hidden');
          }
        }

        var locationContent = '<div id="info-window">' +
          '<span class="temp"></span>'+
          '<span class="dewpoint"></span>'
          '<span class="wind-kph"></span>'
          '<span class="humidity"></span>'
          '<span class="conditions"></span>'
          ;

        function createInfoWindow(content) {
          var locationInfoWindow = new google.maps.InfoWindow({
            content: locationContent
          });
          return locationInfoWindow;
        }

        function addAListener(marker, markerInfo){
          marker.addListener('click', function() {
            markerInfo.open(map, marker);
          });
        }
        function createMarker(location, feature) {
          var lat = $(location).data('lat');
          var lng = $(location).data('lng');
          var city = $(location).data('city');
          var country = $(location).data('country');

          var marker = new google.maps.Marker({
            position: {lat: Number(lat), lng: Number(lng)},
            map: worldMap,
            title: city + ", " + country,
            icon: icons[feature].icon
          });

          matchMarkers.push(marker);
        }

        mapQueryLocation();
        mapMatches();
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= google_map_key %>&callback=initMap"></script>

</html>