<!doctype html>
<html lang="en">

	<head>
    <meta charset="utf-8">
    <title>Where in the World is Your Weather?</title>
		<link href="/css/global.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<%= yield %>
	</body>

		<!-- <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> -->
		<!--<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script> -->
		<script src="/js/lib/jquery-2.1.4.js"></script>
		<script src="/js/global.js"></script>
    <script src="/js/lib/timeago.js"></script>

</html>