<!doctype html>
<html>
	<head>
		<link href="/css/global.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<%= yield %>
	</body>
		<!-- <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script> -->
		<!--<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js" type="text/javascript"></script> -->
		<script src="/js/lib/jquery-2.1.4.js"></script>
		<script src="/js/global.js"></script>
    <script src="/js/lib/timeago.js"></script>
    <script>
      function initMap() {

        var centralLatLng = {lat: 30, lng: 10.1340487 };
        var matchMarkers = []
        var iconBase = 'http://maps.google.com/mapfiles/ms/icons/'

        var star = {
          // path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'orange',
          fillOpacity: 1,
          scale: 5,
          strokeColor: 'darkblue',
          strokeWeight: 1.2
        };

        var dot = {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'gold',
          fillOpacity: 1,
          scale: 5,
          strokeColor: 'darkblue',
          strokeWeight: 1.2
        }

        var icons = {
         queryLocation: {
           icon: star
         },
         matchLocation: {
          icon: dot
         }
        };

        var worldMap = new google.maps.Map(document.getElementById('map'), {
          minZoom: 2,
          zoom: 2,
          center: centralLatLng
        });

        var $matches = $('.info-values');
        var $query = $('.section_header');

        function mapQueryLocation() {
          createMarker($query, 'queryLocation');
        }

        function mapMatches() {
          
          if ($matches.length > 0) {
            $('#map').removeClass('hidden');
            $('.percentage').removeClass('hidden');

            $matches.each(function(index, ea) {
              createMarker(ea, 'matchLocation');
            });
          } else {
            $('#map').addClass('hidden');
            $('.percentage').addClass('hidden');
          }
        }

        function addAListener(marker, markerInfo){
          marker.addListener('click', function() {
            markerInfo.open(worldMap, marker);
          });
        }

        function createMarker(location, feature) {

          var lat = $(location).data('lat');
          var lng = $(location).data('lng');
          var city = $(location).data('city');
          var country = $(location).data('country');
          var stationID = $(location).data('station-id');

          if (feature == 'queryLocation') {
            var conditions = $('#current-conditions').find('.condition-value').data('query-conditions');
            var temp = $('.temp').data('query-temp');
            var dewpoint = $('.dewpoint').data('query-dewpoint');
            var humidity = $('.humidity').data('query-humidity');
            var windKPH = $('.wind-kph').data('query-wind-kph');
          } else {
            var conditions = $('.info-values.' + stationID).data('conditions');
            var temp = $('.info-values.' + stationID).data('temp');
            var dewpoint = $('.info-values.' + stationID).data('dewpoint');
            var humidity = $('.info-values.' + stationID).data('humidity');
            var windKPH =$('.info-values.' + stationID).data('wind-kph');
          };

          var marker = new google.maps.Marker({
            position: {lat: Number(lat), lng: Number(lng)},
            map: worldMap,
            title: city + ", " + country,
            icon: icons[feature].icon,
          });

          var content = '<div id="info-window">' +
            '<span>' + city + ', </span>' +
            '<span>' + country + '</span>' +
            '<div>Conditions: ' + conditions + '</div>' +
            '<div>Temperature: ' + temp + ' C</div>' +
            '<div>Dewpoint: ' + dewpoint + ' C</div>' +
            '<div>Humidity: ' + humidity + ' %</div>' +
            '<div>Wind: ' + windKPH + ' kph</div>' +
            '</div>';

          var infoWindow = new google.maps.InfoWindow({
            content: content
          });

          matchMarkers.push(marker);
          addAListener(marker, infoWindow);
        }

        mapQueryLocation();
        mapMatches();

      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= google_map_key %>&callback=initMap"></script>

</html>