html {
  font-family: Optima, sans-serif;
  font-size: 14px;
  color: #aaa;
  background-image: url('/images/iberianpeninsula_amo_2016052_lrg.jpg');
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.container {
  position: fixed;
  bottom: 2rem;
  height: 20rem;
  width: 100%;
  margin-top: 18rem;
  padding-top: 2rem;
  background-color: #2D565A;
  opacity: 0.8;
}

#intro {
  text-align: center;
  font-size: 1.8rem;
  color: #E5E6E3;
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.location-menu {
	margin-top: 4rem;
	text-align: center;
}

.location-search {
  position: relative;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.location-input {
  font-family: Optima, sans-serif;
  color: #666;
  background-color: #f5f5f5;
  border: none;
  display: inline-block;
  width: 60%;
  font-size: 1.5rem;
  border-radius: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  margin-top: 1.5rem;
}

input {
	font-family: Optima, sans-serif;
	font-size: 1.5rem;
	color: #666;
	border: none;
}

input:focus {
  outline-color: #ddd;
}

input[type="button"] {
  color: #647892;
  cursor: pointer;
  text-align: left;
}

::-webkit-input-placeholder {
  color: #555;
}

.section_header {
	color: #688888;
	text-align: left;
}

#results {
	margin-right: 6%; 
	margin-left: 6%;
	margin-top: 3em;
}

#current-conditions,
#matches {
	position: relative;
}

#current-conditions {
  text-align: right;
  margin-left: 15%;
}

#matches {
	margin-right: 5%;
  padding-left: 5%;
}

.match-view,
.condition-label,
.condition-value {
	padding-bottom: 0.8rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.condition-label {
	display: inline;
	position: relative;
	float: left;
}

.condition-value {
	display: inline;
	float: right;
	position: relative;
}

.match-conditions {
	font-size: 0.8em;
}

.match-value {
	display: inline;
	text-align: right;
}

.percentage {
	float: right;
}

ul {
	-webkit-padding-start: 0px;
}

li {
	list-style-type: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

.search-results {
	position: absolute;
	width: 65%;
	left: 17.5%;
	top: 3.6rem;
	background-color: #CEE4E4;
	opacity: 0.9;
	z-index: 100;
	text-align: left;
}

a {
	text-decoration: none;
}

.drop-down-item a {
	color: gray;
}

.selected {
	background-color: #caecec;
}

.match {
	clear: both;
}

.no-result {
	font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

#map {
	height: 45rem;
	width: 75%;
	position: fixed !important;
	top: 0;
	left: 0;
}

#intro-image {
  height: 25rem;
  width: 100%;
  margin: 0px;
}

.hidden, .info-values {
	display: none;
}