body {
	font-family: Arial, sans-serif;
	color: gray;
}

#intro {
	text-align: center;
}

.section_header {
	color: #4DBFBF;
}

#results {
	margin-right: 80px;
	margin-top: 70px;
}

#current_conditions, #matches {
	width: 380px;
	border: 2px solid #80cccc;
	padding-left: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#current_conditions {
	margin-bottom: 20px;
}

input {
	font-family: Arial, sans-serif;
}

.location_input {
	width: 500px;
	font-size: 42px;
	color: #4DBFBF;
	border: 1px dotted #368686;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding-left: 7px;
	padding-bottom: 5px;
	margin-top: 150px;
}

#matches {
	height: auto;
}

.location_menu {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

input:focus {
	outline-color: #80cccc;
}

.header {
	background-color: #80cccc;
	font-size: 20px;
	color: #E7F9F9;
	position: fixed;
	width: 100%;
	z-index: 1;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.match-view,
.condition-label,
.condition-value {
	padding-bottom: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.condition {

}

.condition-label,
.condition-value {
	float: left;
	position: relative;
}

.condition-label {
	width: 100px;
	text-align: right;
	margin-right: 20px;
}

.match-conditions {
	font-size: 0.8em;
}

.match-value {
	display: inline;
	text-align: right;
}

ul {
	-webkit-padding-start: 0px;
}

li {
	list-style-type: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

a {
	text-decoration: none;
}

.drop-down-item a {
	color: gray;
}

.selected {
	background-color: #caecec;
}
