html {
  font-family: Optima, sans-serif;
  font-size: 14px;
  color: #aaa;
  background-image: url('/images/iberianpeninsula_amo_2016052_lrg.jpg');
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.container {
  position: fixed;
  bottom: 2rem;
  height: 20rem;
  width: 100%;
  margin-top: 18rem;
  padding-top: 2rem;
  background-color: #2D565A;
  opacity: 0.8;
}

#side-bar {
	position: relative;
	float: right;
	opacity: 0.9;
	background-color: #2D565A;
	width: 25%;
	height: auto;
}

#intro {
  text-align: center;
  font-size: 1.8rem;
  color: #E5E6E3;
}

.location-menu {
	text-align: center;
}

.location-search {
  position: relative;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.location-input {
  font-family: Optima, sans-serif;
  color: #666;
  background-color: #f5f5f5;
  border: none;
  display: inline-block;
  width: 40%;
  font-size: 1.5rem;
  border-radius: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  margin-top: 1.5rem;
  margin-right: 2%;
}

.search-bar {
/*	position: fixed;
	top: 0;
	left: 0;
	height: 3rem;
	width: 100%;
	z-index: 1000;
	background-color: #566879;*/
}

.search-bar .location-search {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.search-bar .location-input {
	font-size: 1.3rem;
	display: block;
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: 0px;
}

.search-bar .search-results {
  position: absolute;
  width: 100%;
  left: 12.5%;
  top: 3.7rem;
  background-color: #CEE4E4;
  opacity: 0.9;
  z-index: 100;
  text-align: left;
}

.search-results {
	position: absolute;
  width: 75%;
  left: 12.5%;
  top: 7.3rem;
	background-color: #CEE4E4;
	opacity: 0.9;
	z-index: 100;
	text-align: left;
}

.search-results li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

input {
	font-family: Optima, sans-serif;
	font-size: 1.5rem;
	color: #666;
	border: none;
}

input:focus {
  outline-color: #ddd;
}

input[type="button"] {
  color: #647892;
  cursor: pointer;
  text-align: left;
}

.search-bar input {
	box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #555;
}

.section_header {
	color: #688888;
	text-align: left;
}

#results {
	margin-right: 6%; 
	margin-left: 6%;
	margin-top: 3em;
}

#current-conditions,
#matches {
	position: relative;
/*	float: left;
	width: 41.5%;*/
}

#current-conditions {
  text-align: right;
  margin-left: 7%;
}

#matches {
	margin-right: 5%;
  padding-left: 5%;
}

.match-view,
.condition-label,
.condition-value {
	padding-bottom: 0.8rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.condition-label {
	display: inline;
	position: relative;
	float: left;
}

.condition-value {
	display: inline;
	float: right;
	position: relative;
}

.match-conditions {
	font-size: 0.8em;
}

.match-value {
	display: inline;
	text-align: right;
}

.percentage {
	float: right;
}

ul {
	-webkit-padding-start: 0px;
}

li {
	list-style-type: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

a {
	text-decoration: none;
}

.drop-down-item a {
	color: gray;
}

.selected {
	background-color: #caecec;
}

.match {
	clear: both;
}

.observation-note {
	color: #aaa;
	font-size: 0.8rem;
	padding-left: 3%;
	padding-top: 0.8rem;
	padding-bottom: 5rem;
	float: right;
}

.no-result {
	font-size: 1.4rem;
  text-align: center;
  margin-top: 8rem;
}

#map {
	height: 45rem;
	width: 75%;
	float: left;
}

#intro-image {
  height: 25rem;
  width: 100%;
  margin: 0px;
}

.hidden, .info-values {
	display: none;
}

/* map styling */
.gm-style-iw {
  color: #2D565A;
  top: 5px !important;
  left: 5px !important;
/*  width: 100% !important;
  height: 100% !important;*/
  padding: 5px;
}

.infowindow-background {
  display: none !important;
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
  background-color: #003366 !important;
}

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child {
  margin-right: 5px;
  margin-top: 5px;
}

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img {
    display: none;
}

/* positioning of infowindow */
.gm-style-iw {
  top: 5px !important;
  left: 5px !important;
}